################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/vokram/v14
/bin/Debug
/obj/Debug
/ClassDiagram1.cd
