################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/vokram.Trainer/Logs/98294-efnet.port80.se
